.container {
  position: relative;
  margin: 0px 20px;
}

.input {
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  border: 2px solid #d1d1d1;
  border-radius: 6px;
  padding: 5px;
  padding-left: 40px; /* To fit the icon */
}

.icon {
  position: absolute;
  display: flex;
  align-items: center;
  padding-left: 5px;
  color: #b2b1b1;
  inset-block: 0;
}

@media (min-width: 768px) {
  .container {
    position: relative;
    width: 100%;
    margin: 0px;
  }

  .input {
    width: 50%;
  }
}
