.container {
  display: grid;
  margin: 10px;
  grid-template-columns: repeat(2, 1fr); /* Force 2 elements in mobiles. */
  gap: 20px;
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
